@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600');
body {font-family: 'IBM Plex Sans', sans-serif!important;}
section {padding: 6rem 0;position: relative;z-index: 9;}
ul, li {padding: 0;margin: 0;list-style: none;}
h1 {font-size: 3.5rem;line-height:4rem;font-weight:600;color: #383838;}
h2 {font-size: 2.5rem;line-height: 3rem;font-weight:600;}
a {color: #ffffff;text-decoration: none;}
a:focus {outline: none; }
.form-control, .form-control:focus {border-radius: 0;}
.full-wide{width: 100%;}
.btn.btn-primary {text-decoration: none;color: #fff;background-color: transparent;text-align: center;letter-spacing: .5px;-webkit-transition: background-color .2s ease-out;transition: background-color .2s ease-out;cursor: pointer;border-radius: 0;width: 250px;min-height: 50px;line-height: 27px;border: 3px solid #ffffff;}
.btn.btn-primary:hover, .btn.btn-primary:focus {background-color: #ffffff;color: #333333;}
.about_bg {background: url("../img/tech_bg.jpeg") bottom no-repeat rgba(50, 50, 50, 0.7);background-size: cover;color: #ffffff;}
.about_bg:before{content: '';background-color: rgba(0,0,0,0.6);width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;transition: opacity .35s ease;overflow: hidden;}
h2.title{font-weight: 600;line-height: 3rem;margin-bottom: 2rem;}
p{font-size: 1rem;line-height: 1.8rem;margin-bottom: 2rem;}
/****** header ********/
header {background-color: transparent;min-width: 100%;min-height: 60px;position: fixed;}
header nav {padding: 0;}
header nav .navbar-brand {padding: 0;margin: 0;}
header nav ul li {padding-right: 1rem;}
header nav ul li a {color: #ffffff;font-size: 1rem;font-weight: 500;padding: 0.5rem 1rem;}
header nav ul li a.active {background-color: transparent;color: #ffffff; }
/****** footer *****/
footer {background-image: url("../img/footer_bg_2.jpg");padding: 5rem 0 3rem;z-index: 9;}
footer .column {padding: 30px;background: #ffffff;margin: 40px auto;-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);}
footer .column h2 {text-align: center;}
footer .col-md-12 p {float: left;margin-bottom: 0;line-height: 45px;color: #ffffff;}
footer ul {float: right;}
footer ul li {float: left;margin-left: 0.5rem;min-width: 30px;text-align: center;}
footer ul li a {display: block;padding: 0 0.5rem 0;}
footer ul li a i {font-size: 2rem;color: #ffffff;}
footer ul li a:hover i, footer ul li a:active i {color: #1da6a5;}
.parallax{position: relative;opacity: 0.9;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}

/**** coverr *****/
.homepage-hero-module {border-right: none;border-left: none;position: relative;}
.no-video .video-container video,.touch .video-container video {display: none;}
.no-video .video-container .poster,.touch .video-container .poster {display: block !important;}
.video-container {position: relative;bottom: 0%;left: 0%;height: 100%;width: 100%;overflow: hidden;background: #000; }
.video-container .poster img {width: 100%;bottom: 0;position: absolute; }
.video-container .filter {z-index: 100;position: absolute;background: rgba(0, 0, 0, 0.4);width: 100%; }
.video-container video {position: absolute;z-index: 0;bottom: 0;top: 0;height: 100vh;display: block;object-fit: cover;}
.video-container video.fillWidth {width: 100%; }
/******* home ****/
.landing {height: 100%;padding: 0 2%;}
.landing .middeleText {height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap; }
.landing .middeleText div {margin: auto;z-index: 9;text-align: center;}
.landing .middeleText div.headings h1 {color: #ffffff;letter-spacing: 1px;text-shadow: 2px 2px transparent;}
.landing .middeleText div.headings h3{font-weight: 300;line-height: 2.5rem;font-size: 2rem;}
.plyr button{background-color: #000000;opacity: 0.8;}
.plyr button:hover{opacity: 1;background-color: #000000;}
.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true]{background-color: #000000;}
.plyr--full-ui input[type=range], .plyr__control--overlaid:focus, .plyr__control--overlaid:hover{color: #ffffff;}
.plyr--full-ui.plyr--video .plyr__control--overlaid {display: block;background-color: #000;border-width: 0;padding: 30px;}
button.plyr__control{background: transparent;border: 1px solid #fff;border-radius: 100%;padding: 15px;}
.plyr--video .plyr__time, button.plyr__control[data-plyr=mute],button.plyr__control[data-plyr=captions], .plyr__controls .plyr__volume,.plyr__menu{display: none;}
.plyr__controls button.plyr__control[data-plyr="play"]{padding: 12px;position: absolute;bottom: 20px;left: 10px;}
.plyr__progress{bottom: -15px;margin: 0!important;}
.plyr__controls{padding: 15px 0!important;}
.plyr--fullscreen-enabled [data-plyr=fullscreen]{position: absolute;right: 10px;bottom: 20px;}
.plyr__progress__buffer{border-radius: 0;}
.card{-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);}
.group {
  position: relative;
  margin-bottom: 30px;
  /* active state */
  /* active state */ }
.group input, .group textarea {
  font-size: 16px;
  padding: 7px 7px 7px 4px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #24bebd; }
.group:focus {
  outline: none; }
.group label {
  color: #383838;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #24bebd;
}
.group .bar {
  position: relative;
  display: block;
  width: 100%; }
.group .bar:before, .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #24bebd;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }
.group .bar:before {
  left: 50%; }
.group .bar:after {
  right: 50%; }
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after, .group textarea:focus ~ .bar:before, .group textarea:focus ~ .bar:after {
  width: 50%; }
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }
.group input:focus ~ .highlight, .group textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.5s ease;
  -moz-animation: inputHighlighter 0.5s ease;
  animation: inputHighlighter 0.5s ease; }

.column {
  max-width: 500px;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; }

div.title {
  text-align: center;
  margin-bottom: 3rem;
  width: 100%; }
div.title h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  display: inline-block;
  padding: 0.5rem 1rem; }
h1.main_title{font-weight: 300;margin-bottom: 3rem;}

div.card {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border: none;
  background: #ffffff;
  border-radius: 0;
  position: relative;
  margin-bottom: 2rem;
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  overflow: hidden; }
div.card .overlay_s {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .35s ease;
  overflow: auto;
  z-index: 1;
  opacity: 0; }
div.card.project_1 .overlay_s {
  background-color: rgba(247, 144, 60, 0.65); }
div.card.project_2 .overlay_s {
  background-color: rgba(252, 26, 25, 0.65); }
div.card.project_3 .overlay_s {
  background-color: rgba(44, 123, 198, 0.65); }
div.card.project_4 .overlay_s {
  background-color: rgba(2, 123, 182, 0.65); }
div.card .card-block {
  color: #323232;
  padding: 0; }
div.card .card-block .card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(transparent), to(#111111));
  background: -webkit-linear-gradient(top, transparent, #111111);
  background: -moz-linear-gradient(top, transparent, #111111);
  background: -ms-linear-gradient(top, transparent, #111111);
  background: -o-linear-gradient(top, transparent, #111111);
  border: none;
  padding: 0.8rem 0.5rem; }
div.card .card-block .card-header a {
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
  color: #ffffff; }
div.card .card-block figure {
  margin-bottom: 0; }
div.card .card-block figure img {
  margin-bottom: 0;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
div.card .card-footer {
  display: none;
  background: transparent;
  border: none;
  padding: 0.8rem 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
div.card .card-footer h4 {
  color: #ffffff;
  overflow: hidden;
  font-weight: 500;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem; }
div.card .card-footer a {
  text-decoration: underline;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  bottom: 45%;
  left: 0;
  width: 100%;
  text-align: center; }
div.card:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05); }
div.card:hover .overlay_s {
  opacity: 1; }
div.card:hover .card-footer {
  display: block; }
div.card:hover .card-header {
  visibility: hidden; }
.bottom_content{display: block;}
.img_container_main, .img_container{width: 100%;display: block;overflow: hidden;position: relative;}
.background{position: relative;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;overflow: hidden;}
.background:before{padding-top: 100%;content: '' !important;display: block;}
.bg_images{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;background-position: center;}
.bg_images.work__1{background-image: url("../img/work_1.jpg");}
.bg_images.work__2{background-image: url("../img/work_2.jpg");}
.bg_images.blog_1{background-image: url("../img/blog_1.jpg");}
.bg_images.blog_2{background-image: url("../img/blog_2.jpg");}
.bg_images.blog_detail_1{background-image: url("../img/blog_detail_1.jpg");}
.bg_images.blog_detail_2{background-image: url("../img/blog_detail_2.jpg");}
.bg_images.blog_detail_3{background-image: url("../img/blog_detail_3.jpg");}
.owl-carousel .background:before{padding-top: 50%;}
.owl-dot, .owl-dots {height: 10px;text-align: center;}
.owl-carousel button.owl-dot.active {background: #FFFFFF;}
.owl-carousel button.owl-dot {border: 1px solid #ffffff;border-radius: 100%;width: 10px;margin: 0 0.5rem;outline: none;}
.owl-carousel .owl-nav button.owl-prev {position: absolute;left: 0;top: 50%;border: 0;cursor: pointer;margin-top: -1.5rem;height: 3rem;width: 3.5rem;outline: none;background: rgba(255,255,255, 0.5);color: #222222;}
.owl-carousel .owl-nav button.owl-next {position: absolute;right: 0;top: 50%;border: 0;cursor: pointer;margin-top: -1.5rem;height: 3rem;width: 3.5rem;outline: none;background: rgba(255,255,255, 0.5);color: #222222;}
.owl-carousel .owl-nav button span {font-size: 2rem;}
.col_count_2{column-count: 2;}
.headings{width: 100%;text-align: center;}
.headings .white{color: #ffffff;}
.headings.blogs{padding: 1.5rem 0;}
.headings.blogs h1 {font-size: 3rem;}
.img_circle{padding: 1rem 0;}
.img_circle img{border-radius: 100%;}
h3.title{text-align: center;}

/****** about ******/
.middeleText {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.middeleText .about_me {
  margin: auto 0;
  padding: 3rem;
  color: #ffffff; }
.middeleText .about_me h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
  color: #ffffff; }
.middeleText .about_me p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-bottom: 2rem; }
.middeleText .about_me a {
  text-decoration: underline;
  font-weight: 500;
  color: #ffffff; }

/***** keyframes *********/
@keyframes typing_text {
  from {
    width: 0; }
  to {
    width: 600px; } }

@keyframes rotate_object {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-100px) rotate(180deg); }
  100% {
    transform: translateY(0px) rotate(360deg); } }

.some_text {
  animation: rotate_object 3s alternate infinite;
  color: yellow;
  display: inline-block;
  font-size: 4.5rem; }

.some_text {
  animation: typing_text 2s steps(23);
  overflow: hidden;
  white-space: nowrap; }
